.searchStyle {
    border-top: 1px solid #E5E7EB !important;
    border-right: none !important;
    border-bottom: 1px solid #E5E7EB !important;
    border-left: 1px solid #E5E7EB !important;
    box-shadow: 0px 1px 2px 0px #E5E7EB !important;
    height: 38px;

}

.nav-link {
    color: #1F2937; // default color for the nav link
    font-weight: 600; // default font weight for the nav link
}

.nav-link.active {
    color: #2563EB !important;
}

.avatar {
    max-width: 25px !important;
    max-height: 25px !important;
}

.dropdown-menu.show {
    width: 234px;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 4px 3px 0px #0000001A;
    border-radius: 12px;
    // box-shadow: 0px 10px 8px 0px #0000000A;

}

.searchbtn {
    border-top: 1px solid #E5E7EB !important;
    border-right: 1px solid #E5E7EB !important;
    border-bottom: 1px solid #E5E7EB !important;
    border-left: none !important;
    box-shadow: 0px 1px 2px 0px #E5E7EB !important;
    height: 38px;
    background-color: #fff !important;
}

.giftBtn {
    font-size: 15px;
    font-weight: 600;
}

.custom-dropdown-button .btn {
    background-color: #fff;
    /* Custom background color */
    border: 1px solid #E5E7EB;
    color: #000;
    /* Custom text color */
    box-shadow: 0px 1px 2px 0px #0000000D;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}

.bg-body-tertiary {
    background-color: #fff !important;
}

.custom-dropdown-button .dropdown-toggle::after {
    display: none;
    /* Hide default dropdown icon */
}

.iconBtn {
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

//   .custom-dropdown-button .btn:hover,
//   .custom-dropdown-button .btn:focus {
//     background-color: #c70039; /* Custom hover background color */
//     border-color: #c70039; /* Custom hover border color */
//   }

/* Customize the switch height and width */
.custom-switch .form-check-input {
    width: 60px;
    /* Adjust width as needed */
    height: 30px;
    /* Adjust height as needed */
}

/* Customize the background color when the switch is on */
.custom-switch .form-check-input:checked {
    background-color: #404B5A;
    /* Green when on */
    border-color: #404B5A;
}

/* Customize the background color when the switch is off */
.custom-switch .form-check-input {
    background-color: #EDF0F2;
    /* Gray when off */
    border-color: #EDF0F2;
}

/* Customize the slider's circle */
.custom-switch .form-check-input:before {
    width: 22px;
    /* Adjust width of the slider knob */
    height: 22px;
    /* Adjust height of the slider knob */
    background-color: white;
    /* Color of the slider knob */
}

/* Optionally, add a custom icon */
.custom-switch .form-check-input:checked:before {
    // content: url('./../../../assets//svg/sun.svg'); /* Path to your icon image */
    background-color: transparent;
    /* Remove background color to show icon clearly */
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
    /* Customize the color as needed */
}

.headerpart {
    display: -webkit-inline-box;
    justify-content: space-between;
    padding: 25px 15px 0px;
    width: 100%;
    background-image: url("./../../../../public/assets/svg/header-gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-header {
    border: none !important;
}

.headerpart_1 {
    flex: 0 0 95%;
    text-align: center;
}

.notihead {
    // font-size: 20px;
    font-weight: 700;
    color: #161616;

    span {
        font-size: 10px;
        font-weight: 500;
        background: #DBEAFE;
        text-align: center;
        padding: 6px 10px;
        border-radius: 50px;
    }
}

.notihead_underline {
    color: #99A1B7;
    font-size: 16px;
    font-weight: 500;
}

.headerpart button.btn-close {
    font-weight: 100 !important;
    font-size: 14px;
    color: #000 !important;
    opacity: unset;
}

.new_notifications_popup h1 {
    font-size: 14px;
    font-weight: 600;
    color: #525252;
}

.author_with_time_notifications {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.author_details_withimage {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.author_spanname1 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.author_emailspan1 {
    font-size: 14px;
    color: #6B7280;
    font-weight: 400;
}

.authordetails p {
    margin: 0;
}

.notification_time {
    background: #F4F4F4;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
}

.custom_vertical_space {
    width: 100%;
    display: inline-block;
}

.Giftcartwithimage {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}

.outerGiftcartlistbox {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.leftsideGiftcartlist {
    border: 1px solid #EDF0F2;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
}

.giftcartDescriptionboxinner {
    display: flex;
    gap: 15px;

    .h3heading {
        font-size: 16px;
        font-weight: 600;
    }

    .giftspan {
        background: #CCFBF1;
        padding: 5px;
        border-radius: 30px;
        font-size: 10px;
        font-weight: 600;
        color: #115E59;
        line-height: normal;
        height: 22px;
    }

    .productGiftprice {
        display: flex;
        gap: 2px;
        font-size: 10px;
        font-weight: 500;

        span {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.parab2 {
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
}

.rightsideGiftcartdelete img {
    cursor: pointer;
}

.Giftcarttotalouter {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.pgray_b1 {
    font-size: 16px;
    font-weight: 500;
    color: #99A1B7;
}

.parab2 {
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
}

.spcial_margin_top {
    margin-top: 30px;
}

.fotterpartpopup {
    background: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -16px;
    border-radius: 0px 0px 20px 20px;
    padding: 15px 30px;
}

.h3heading_15 {
    font-size: 15px;
    font-weight: 600;
}

.filterapplybtn {
    background: #2563EB;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}