// .allmediaouter {
//     border: 1px solid #EDF0F2;
//     border-radius: 12px;
//     padding: 10px;
//     margin-bottom: 20px;
// }
.streamthumbnail {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}
.pblack_b1 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.productGiftprice2 {
    display: flex;
    gap: 2px;
    font-size: 16px;
    font-weight: 600;
    color: #929FB1;
}
.productGiftprice2 span {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}