// .livestreambox1 {
//     border: 1px solid #F6F7F9;
//     border-radius: 12px;
//     padding: 20px;
//     background: #fff;
// }
.h2heading {
    font-size: 20px;
    font-weight: 500;
}
.pgray_b1 {
    font-size: 16px;
    font-weight: 500;
    color: #99A1B7;
}
.custom-hr{
    background-color: #EDF0F2;
    border: 1px solid #EDF0F2;
    width: 100%;
    margin-bottom: 20px;
}
.allmediaouter {
    border: 1px solid #EDF0F2;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
}
.h5heading {
    font-size: 16px;
    font-weight: 400;
}
.streamthumbnail {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}
.socialboxshare {
    display: flex;
    gap: 12px;
}
.socialboxview {
    display: flex;
    gap: 2px;
    color: #606E80;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}