.h4heading {
    font-size: 14px;
    font-weight: 600;
}
.extraspace1 {
    margin-bottom: 10px;
}
.checktotalleft {
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;
}
.extraspace1 span {
    border-bottom: 1px solid #c5c5c5;
}
.socialboxshare2 {
    display: flex;
    gap: 12px;
    align-items: center;
}
.pgray_b3 {
    font-size: 12px;
    font-weight: 400;
    color: #99A1B7;
}