/* src/App.css */
.tabSection {
    text-align: -webkit-center;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    // margin-bottom: 20px;
    width: 322px;
    height: 58px;
    padding: 12px;
    border-radius: 99px;
    border: 1px solid #EDF0F2;
    box-shadow:
        0px -3px 0px 0px #eaeaea inset,
        0px 0px 0px 2px #eaeaea inset,
        0px 4px 2px 0px #0000000F inset,
        0px 0px 24px 4px #0000000A inset,
        0px 1px 3px 0px #0000001F;
}

.tab-button {
    margin-right: 10px;
    transition: background-color 0.3s ease;
    position: relative;
    color: #606E80;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    z-index: 5;
    width: 146px;
    align-self: center;
    padding: 10px 24px 10px 24px;
    height: 36px;
    border-radius: 36px;
}

.tab-radio {
    display: none;
}

.tab-button.active {
    background-color: white;
    color: black !important;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tab-content {
    position: relative;
    margin: 24px auto 0px auto;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #606e80;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

ul {
    .show {
        display: block;
    }

    .hide {
        display: none;
    }
}


.creator-content h1 {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: -0.02em;
}

.creator-content h1 .highlight-italic {
    font-style: italic;
    font-weight: 400;
}

.creator-content h1 .highlight {
    background: linear-gradient(95deg,
            #1f3daa 5%,
            #e7029f 31.89%,
            #e7029f 44.17%,
            #e86a43 68.74%,
            #f6a29f 76.67%,
            #a58e49 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.creator-content h1 .rest-highlight {
    font-weight: 800;
}

.slider-carousel-item {
    position: relative;
    // max-width: 1480px; 
    width: 100% !important;
    height: 664px;
    border-radius: 12px;
    background-image: url("/assets/Images/slider-gradient.png");
    background-repeat: no-repeat;

    // background: linear-gradient(0deg, #ffffff, #ffffff),
    //   linear-gradient(0deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01));
    border: 1px solid #0000001a;
    // box-shadow: inset 0px 0px 20px -10px rgb(124, 122, 124);
    box-shadow: 0px -3px 0px 0px #0000000D inset, 0px 0px 0px 2px #FFFFFF inset,0px 4px 2px 0px #0000000F inset,0px 0px 24px 4px #0000000A inset,0px 1px 3px 0px #0000001F;

    z-index: 2;
}

.slider-carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1% !important;
}

.slider-carousel-container h5 {
    font-family: 'Ubuntu Sans';
    font-size: 40px;
    font-weight: 800;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000;
}

.slider-carousel-container .row {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-carousel-container .custom-col {
    max-width: 628px;
    display: flex;
    flex-direction: column;
    gap: 10px 24px
}

.slider-carousel-container .custom-col h5,
.slider-carousel-container .custom-col p {
    margin: 0;
}

.slider-carousel-container h5 .highlight {
    background: linear-gradient(90deg, #609791 0%, #0E2C97 25.23%, #111DD5 31.89%, #E7029F 44.17%, #E86A43 68.74%, #F6A29F 76.67%, #A58E49 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-carousel-container .custom-col p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #606E80;
}

.slider-carousel-container .custom-col p .heading {
    font-family: "Ubuntu Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #181D25;

}

.card-container-row {
    gap: 20px 0;
    margin-top: 100px;

}

.card-container-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    /* max-height: 420px; */
    /* max-width: 730px !important; */
    justify-content: center;
    /* gap: 20px; */

}

.card-container {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .1019607843);
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    // box-shadow: inset 0 0 20px -10px #7c7a7c;\
    box-shadow: 0px -3px 0px 0px #0000000D inset, 0px 0px 0px 2px #FFFFFF inset,0px 4px 2px 0px #0000000F inset,0px 0px 24px 4px #0000000A inset,0px 1px 3px 0px #0000001F;
}

.card-container-wrapper h3 {
    font-family: "Ubuntu Sans";
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-top: 40px;
}
.card-container-wrapper h3 .rest-highlight {
    font-family: "Ubuntu Sans";
    font-weight: 800;
}

.card-container-wrapper p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    text-wrap: wrap;
    margin: 12px auto 14px;
    line-height: 32px;
    text-align: center;
    color: #606e80;
    max-width: 650px;
}


.card-text:last-child {
    margin-bottom: 0;
}

.main-card {
    aspect-ratio: 0 !important;
    padding: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    background: none;
    transition: transform .3s ease-out .5s;
}
.card-container-wrapper h3 .highlight-italic {
    font-style: italic;
    font-weight: 400;
}
.card-container-wrapper h3 .highlight {
    background: linear-gradient(95deg, #1f3daa 5%, #e7029f 31.89%, #e7029f 44.17%, #e86a43 68.74%, #f6a29f 76.67%, #a58e49 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}


.creator-bottom-image {
    width: 90% !important;
    margin: auto;
    padding: 0;
    position: relative;
    height: 288px !important;
    z-index: 3;
    left: 0%;
    bottom: -5%;
}
.creator-bottom-image .new-card1 {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    background-image: url('./../../../public/assets/gifs/newCreatorCard1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 9;
}

.creator-bottom-image .new-hover-card1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}
.creator-bottom-image .new-hover-card1 .img1 {
    background-image: url('./../../../public/assets/gifs/newCreatorCardhover1-2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 78px;
    height: 78px;
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 0;
    gap: 0px;
    opacity: 1px;
    transition: .8s ease-in-out;
}
.card-container:hover .creator-bottom-image .new-hover-card1 .img-wrapper, .card-container:hover .creator-bottom-image .new-hover-card1 .img1 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0);
    opacity: 1;
}
.card-container:hover .creator-bottom-image .new-card1{
        /* filter: blur(2px); */
        opacity: 0.5;
    }

.creator-bottom-image .new-hover-card1 .img-wrapper {
    height: 78px;
    width: 420px;
    padding: 5px;
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 0;
    transition: .8s ease-in-out;
}
.creator-bottom-image .new-hover-card1 .img2 {
    position: relative;
    background-image: url('./../../../public/assets/images/newCreatorCardhover1-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 100%;
    width: 100%;
    opacity: 1px;
    transition: .8s ease-in-out;
}
.card-gradient-footer {
    position: absolute;
    bottom: 0%;
}
.creator-bottom-image .new-card2 {
    position: relative;
    margin: auto;
    background-image: url('./../../../public/assets/images/newCreatorCard2.png');
    background-size: contain;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: right bottom;
    object-fit: fill;
    overflow: hidden;
    width: 441px;
    height: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 9;
    transition: .8s ease-in-out;
}
.creator-bottom-image .new-card2-sec {
    background-image: url('./../../../public/assets/images/newCreatorCard2-1.png');
    position: absolute;
    bottom: 25%;
    left: 10%;
    width: 107px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    z-index: 9999;
    transition: .8s ease-in-out;
}

.creator-bottom-image .new-hover-card2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.creator-bottom-image .new-hover-card2 .img1 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCreatorCardhover2-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    height: 32px;
    width: 32px;
    bottom: 25%;
    left: 10%;
    transform: rotate(30deg);
    transition: .8s ease-in-out;
}
.creator-bottom-image .new-hover-card2 .img2 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCreatorCardhover2-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    height: 32px;
    width: 32px;
    bottom: 25%;
    left: 15%;
    transform: rotate(-30deg);
    transition: .8s ease-in-out;
}
.creator-bottom-image .new-hover-card2 .img3 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCreatorCardhover2-3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    height: 32px;
    width: 32px;
    bottom: 25%;
    left: 20%;
    transform: rotate(30deg);
    transition: .8s ease-in-out;
}
.creator-bottom-image .new-hover-card2 .img4 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCreatorCardhover2-4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    height: 213px;
    width: 120px;
    opacity: 0;
    transform: translateY(20%);
    top: 0%;
    right: 0%;
    transition: .8s ease-in-out;
}
.card-container:hover .creator-bottom-image .new-card2 {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.card-container:hover .creator-bottom-image .new-card2-sec {
    transform: translate(-20px);
}
.card-container:hover .creator-bottom-image .new-hover-card2 {
    opacity: 1;
}
.card-container:hover .creator-bottom-image .new-hover-card2 .img1 {
    transform: rotate(30deg) translateY(50px);
}
.card-container:hover .creator-bottom-image .new-hover-card2 .img2 {
    transform: rotate(-30deg) translate(-54px, -80px);
}
.card-container:hover .creator-bottom-image .new-hover-card2 .img3 {
    transform: rotate(30deg) translate(-90px, -21px);
}
.card-container:hover .creator-bottom-image .new-hover-card2 .img4 {
    transform: translateY(15%);
    opacity: 1;
}


.creator-bottom-image .new-card3 {
    position: relative;
    margin: auto;
    background-image: url('./../../../public/assets/images/newCreatorCard3.png');
    background-size: contain;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: bottom 15px right 0px;
    object-fit: cover;
    overflow: hidden;
    width: 437px;
    height: 315px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 9;
    transition: .8s ease-in-out;
}

.creator-bottom-image .new-card3-icon {
    position: absolute;
    top: 20%;
    padding: 20px;
    right: 3%;
    background-image: url('./../../../public/assets/images/newCreatorCard3-2.png');
    background-size: contain;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 38px;
    height: 38px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 10;
    transition: background-image .8s ease-in-out;
}

.card-container:hover .creator-bottom-image .new-card3-icon:after {
    // content: "2";
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0%;
    right: -40%;
    transform: translate(-50%, -50%);
    background-color: #00f;
    color: #fff;
    font-size: 10px;
    text-align: center;
    z-index: 11;
    border-radius: 50%;
}

.creator-bottom-image .new-hover-card3-img1 {
    position: absolute;
    top: 35%;
    padding: 20px;
    right: -10%;
    background-image: url('./../../../public/assets/images/newCreatorCardhover3-3.png');
    background-size: contain;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 306px;
    height: 52px;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 11;
    transition: right .8s ease-in-out;
}
.creator-bottom-image .new-hover-card3-img2 {
    position: absolute;
    top: 50%;
    padding: 20px;
    right: -12%;
    background-image: url("./../../../public/assets/images/newCreatorCardhover3-4.png");
    background-size: contain;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 355px;
    height: 52px;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 11;
    transition: right .8s ease-in-out;
}
.card-container:hover .creator-bottom-image .new-card3 {
    -webkit-transform: scale(1.005);
    -ms-transform: scale(1.005);
    transform: scale(1.005) translateY(-20px);
}
.card-container:hover .creator-bottom-image .new-card3-icon {
    background-image: url('./../../../public/assets/images/newCreatorCardhover3.png');
    transition: z-index .8s ease-in-out;
}
.card-container:hover .creator-bottom-image .new-hover-card3-img1 {
    opacity: 1;
    right: -3%;
}
.card-container:hover .creator-bottom-image .new-hover-card3-img2 {
    opacity: 1;
    right: -4%;
}
.card-container:hover .card-gradient-footer {
    background-image: url("./../../../public/assets/images/headergradient.png");
    background-size: cover;
    position: absolute;
    background-position: center;
    bottom: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bottom-image3 {
    width: 90% !important;
    margin: auto;
    padding: 0;
    position: relative;
    height: 288px !important;
    left: 0%;
    bottom: -3%;
}
.bottom-image3 .new-card4 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}
.bottom-image3 .new-card4 .img1 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCard4-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 240px;
    height: 234px;
    top: 16%;
    left: 5%;
    gap: 0px;
    transition: .8s ease-in-out;
}
.bottom-image3 .new-card4 .img3 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCard4-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 240px;
    height: 234px;
    top: 16%;
    right: 5%;
    gap: 0px;
    transition: .8s ease-in-out;
}
.bottom-image3 .new-card4 .img2 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCard4-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 260px;
    height: 253.4px;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    gap: 0px;
    transition: .8s ease-in-out;
}
.bottom-image3 .new-cardhover4 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCardhover4.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 463px;
    height: 48px;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%);
    gap: 0px;
    opacity: 1px;
    transition: .8s ease-in-out;
}

.card-container:hover .bottom-image3 .new-card4 .img1 {
    transform: translate(35%);
    opacity: .09;
}
.card-container:hover .bottom-image3 .new-card4 .img3 {
    transform: translate(-35%);
    opacity: .09;
}
.card-container:hover .bottom-image3 .new-card4 .img2 {
    transform: translate(-50%, -8%);
}
.card-container:hover .bottom-image3 .new-cardhover4 {
    z-index: 999;
    bottom: 10%;
    transform: translate(-50%);
}
.bottom-image {
    width: 100% !important;
    margin: auto;
    padding: 0;
    position: relative;
    height: 288px !important;
    left: 0%;
    bottom: -5%;
}
.bottom-image .new-card1 {
    position: relative;
    top: 0;
    left: 0;
    background-image: url('./../../../public/assets/images/newCard1.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 85%;
    margin: auto;
    z-index: 999;
    transition: opacity .8s ease-in-out;
}
.bottom-image .new-hover-card1 {
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    background-image: url('./../../../public/assets/gifs/newCardhover1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    overflow: hidden;
    width: 85%;
    margin: auto;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease-in-out;
    transition: .8s ease-in-out;
    z-index: 9999;
}
.card-container:hover .bottom-image .new-card1 {
    opacity: 0;
}
.card-container:hover .bottom-image .new-hover-card1 {
    -webkit-transform: scale(1);
    top: 0%;
    -ms-transform: scale(1);
    transform: scale(1);
    background-image: url('../../../public/assets/gifs/newCardhover1.gif');
}

.bottom-image .new-card2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../../public/assets/images/newCard2.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 202px;
    max-width: 320px;
    z-index: 999;
    transition: .8s ease-in-out all;
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
}
.bottom-image .new-hover-card2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    background-image: url('./../../../public/assets/images/newCardhover2.png');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    height: 222px;
    width: 340px;
    opacity: 0;
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    z-index: 9999;
}

.card-container:hover .bottom-image .new-card2 {
    height: 164px;
    max-width: 260px;
    transform: translate(-95%, -50%);

}

.card-container:hover .bottom-image .new-hover-card2 {
    opacity: 1;
    transform: translate(-25%, -50%);
}

.bottom-image3 .new-card3 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./../../../public/assets/images/newCard3.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: 999;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: .8s ease-in-out all;
}
.bottom-image3 .new-hover-card3 {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    z-index: 9999;
}
.bottom-image3 .new-hover-card3 .img1 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCardhover3-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 255px;
    height: 256px;
    top: 30%;
    left: 5%;
    gap: 0px;
}
.bottom-image3 .new-hover-card3 .img3 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCardhover3-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 255px;
    height: 256px;
    top: 30%;
    right: 5%;
    gap: 0px;
}
.bottom-image3 .new-hover-card3 .img2 {
    position: absolute;
    background-image: url('./../../../public/assets/images/newCardhover3-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 255px;
    height: 256px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    gap: 0px;
}
.card-container:hover .bottom-image3 .new-card3 {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}
.card-container:hover .bottom-image3 .new-hover-card3 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

@media (max-width: 451px) {
    .slider-carousel-item {
        height: 100%;
        padding: 20px 20px !important;
    }

    .slider-carousel-container .custom-col {
        width: 100%;
    }

    .slider-carousel-container .custom-col h5 {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;

    }

    .slider-carousel-container .custom-col p {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin: 0 !important;
        line-height: 32px;
        font-family: "Inter";
    }



    .expanded {
        height: 230px;

        overflow-x: hidden;
        overflow-y: scroll;
    }

    .custom-col button {
        display: block;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;

    }

}

@media (min-width: 452px) and (max-width: 1230px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;

    }

    .expanded {
        height: 130px;

        overflow-x: hidden;
        overflow-y: scroll;
    }

    .custom-col button {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .custom-col {
        h5 {
            font-size: 30px;
        }

        p {
            font-size: 16px !important;
            font-family: "Inter";

            ul {
                li {
                    .heading {
                        font-size: 16px !important;
                    }


                }
            }
        }
    }
}

@media (min-width: 450px) and (max-width: 767px) {
    .custom-col {
        h5 {
            font-size: 26px;
        }

        p {
            font-size: 14px !important;
            font-family: "Inter";

            ul {
                li {
                    .heading {
                        font-size: 14px !important;
                    }


                }
            }
        }
    }
}

@media (min-width: 380px) and (max-width: 449px) {
    .custom-col {
        h5 {
            font-size: 24px !important;
        }

        p {
            font-size: 14px !important;
            font-family: "Inter";

            ul {
                li {
                    .heading {
                        font-size: 14px !important;
                    }


                }
            }
        }
    }
}


@media (min-width: 380px) and (max-width: 767px) {
    .slider-carousel-item {
        height: 800px;
        background-size: cover;
    }

    .custom-col {
        video {
            mix-blend-mode: multiply;
        }
    }


}