// .footer-wrapper-row {
//     margin: 70px 0 !important;
//   }
  .footer-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("./../../../public/assets/images/footerGrediant.png");
    // background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .footer-wrapper img {
    width: 240.71px;
    height: 100px;
  }
  .left-footer {
    padding: 40px !important;
    /* max-width: 460px; */
    background: #00000003;
    border-radius: 20px;
    // box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: 0px -3px 0px 0px #0000000D inset,0px 0px 0px 2px #FFFFFF inset,0px 4px 2px 0px #0000000F inset,0px 0px 24px 4px #0000000A inset,0px 1px 3px 0px #0000001F
  }
  .left-footer h6 {
    font-family: "Ubuntu Sans";
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 60px !important;
  }
  .left-footer h6 .highlight-italic {
    font-style: italic;
    font-weight: 500;
  }
  .left-footer h6 .highlight {
    background: linear-gradient(
      95deg,
      #1f3daa 5%,
      #e7029f 31.89%,
      #e7029f 44.17%,
      #e86a43 68.74%,
      #f6a29f 76.67%,
      #a58e49 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .left-footer p {
    margin-top: 12px !important;
    // max-width: 380px !important;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #606e80;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .links a {
    text-decoration: none;
    padding: 5px 0;
    color: #606e80;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  
  .footer-social-wrapper {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    // width: 100%;
    height: 100%;
  }
  .footer-social-container {
    position: relative;
  
    bottom: 0;
    right: 0;
  }
  .footer-social-icon-row {
    justify-content: space-evenly;
  }
  .footer-social-icon img {
    width: 24px;
    height: 24px;
    padding: 2px 2px 2.05px 2px;
    gap: 0px;
    /* opacity: 0px; */
  }
  .right-footer {
    padding: 0 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-footer h5 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }
  
  .bottom-footer {
    position: relative;
    /* width: 100%;
    height: 100%; */
    display: flex;
    padding-top: 56px !important;
    margin-top: 56px !important;
  }
  .bottom-footer::before {
    content: "";
    // background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0%;
    border: 1px solid #E1E5EA;
    top: 0%;
    width: 100%;
    height: 1px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .bottom-footer p {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #606e80;
  }
  
  .bottom-footer img:nth-child(1) {
    height: 60px;
    width: 95px;
  }
  .bottom-footer img:nth-child(2) {
    height: 60px;
    width: 60px;
  }
  .bottom-footer img:nth-child(3) {
    height: 60px;
    width: 120px;
  }
  .bottom-footer img:nth-child(4) {
    height: 60px;
    width: 120px;
  }
  
  .right-footer .highlight {
    background: linear-gradient(
      95deg,
      #1f3daa 5%,
      #e7029f 31.89%,
      #e7029f 44.17%,
      #e86a43 68.74%,
      #f6a29f 76.67%,
      #a58e49 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-bottom: 15px;
  }

  .links{
    a{
      margin: 3px 0px;
    }
  }
  
  .icon-container {
    display: flex;
    position: relative;
    width: 38px !important; /* Adjust size as needed */
    height: 38px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3dede;
    border-radius: 5px;
    transition: chnangeBackground 1s ease-in-out;
  }
  .social-icon {
    width: 38px !important;
    height: 38px;
    padding: 18px;
    border-radius: 5px;
  }
  .social-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease-in-out;
  }
  
  .social-icon .hover-image {
    transform: translateY(130%) translate(-50%, -50%);
  }
  
  .social-icon:hover .animated-img {
    transform: translateY(-130%) translate(-50%, -50%);
  }
  .social-icon:hover .icon-container {
    background: rgb(230, 222, 222) !important;
  }
  .social-icon:hover {
    background-color: #f8f1f1;
  }
  .social-icon:hover .hover-image {
    transform: translateY(0%) translate(-50%, -50%);
    opacity: 1;
  }
  
  .footer-gradient {
    width: 100vw;
    min-height: 487.68px;
    position: absolute;
    bottom: -3%;
    left: 0%;
    // background-image: url("./../../assets/Images/footerGrediant.png");
    background-size: cover; /* Cover the entire element */
  
    z-index: -1;
  }
  
  .custom-image-container img {
    padding: 0 !important;
    mix-blend-mode: multiply;
  }
  .custom-image-container .first-image {
    width: 95px !important;
    height: 60px !important;
  }
  .custom-image-container .second-image {
    width: 60px !important;
    height: 60px !important;
  }
  .custom-image-container .third-image {
    width: 120px !important;
    height: 60px !important;
  }
  .custom-image-container .fourth-image {
    width: 120px !important;
    height: 60px;
  }

  .footerLogos{
    justify-content:end;
  }
  .logsStyle{
    align-content: center;
  }
  @media (min-width: 380px) and (max-width: 767px){
    .bottom-footer{
      display: flex;
      // flex-direction: row; // Default flex direction
      flex-direction: column-reverse;
    }
    .footerLogos{
      justify-content:start;
    }
    
  }
  
  @media (max-width: 451px) {
    .left-footer {
      padding: 40px 16px !important;
    }
    .footer-wrapper img {
      width: 240.71px;
    }
    .left-footer p {
      margin-top: 16px !important;
    }
    .footer-social-container {
      position: relative;
      bottom: 0;
      right: 0;
      padding: 0 12px !important;
    }
    // .social-or-link-row .col-links {
    //   margin: 32px 0 12px 0 !important;
    // }
  
    .footer-social-icon-row {
      justify-content: left;
      // padding: 0 12px;
    }
    .right-footer {
      padding: 0 !important;
      display: flex;
    }
    .custom-image-container .first-image {
      width: 72px !important;
      height: 45px !important;
    }
    .custom-image-container .second-image {
      width: 45px !important;
      height: 45px !important;
    }
    .custom-image-container .third-image {
      width: 90px !important;
      height: 45px !important;
    }
    .custom-image-container .fourth-image {
      width: 90px !important;
      height: 45px !important;
    }
    .bottom-footer .footer-para {
      padding: 20px 0 !important;
    }
    .bottom-footer {
      margin-top: 16px !important;
      padding: 16px 12px 0 12px !important;
    }
    .footer-social-wrapper {
      // padding: 0 12px;
    }
  }
  
  @media (min-width: 452px) and (max-width: 1230px) {
    .left-footer {
      max-width: 100% !important;
    }
  
    .left-footer {
      padding: 40px 16px !important;
    }
    .footer-wrapper img {
      width: 240.71px;
    }
    .left-footer p {
      margin-top: 16px !important;
    }
    .footer-social-container {
      position: relative;
      bottom: 0;
      right: 0;
      padding: 0 12px !important;
    }
    .social-or-link-row .col-links {
      margin: 32px 0 12px 0 !important;
    }
    .footer-social-icon-row {
      justify-content: left;
      // padding: 0 12px;
    }
    .right-footer {
      padding: 0 20px !important;
      display: flex;
    }
    .custom-image-container .first-image {
      width: 72px !important;
      height: 45px !important;
    }
    .custom-image-container .second-image {
      width: 45px !important;
      height: 45px !important;
    }
    .custom-image-container .third-image {
      width: 90px !important;
      height: 45px !important;
    }
    .custom-image-container .fourth-image {
      width: 90px !important;
      height: 45px !important;
    }
    .bottom-footer .footer-para {
      padding: 20px 0 !important;
    }
    .bottom-footer {
      margin-top: 16px !important;
      // padding: 16px 12px 0 12px !important;
    }
    .footer-social-wrapper {
      // padding: 0 12px;
    }
    // .footer-wrapper-row {
    //   margin: 30px 0 !important;
    // }
    .left-footer p {
      max-width: 100% !important;
    }
    .left-footer h6{
      max-width: 100% !important;
    }
    .break-line{
      display: none;
    }
  }
  