.commanheadming {
    font-size: 16px;
    color: #1F2937;
    font-weight: 500;
    border-bottom: 2px solid #E5E7EB;
    padding-bottom: 5px;
    margin-bottom: 8px;
}
.browsebox {
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0509803922);
    background: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.underlive_box {
    color: #99A1B7;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}